h1{
    color: #1400ff;
    font-size: 60px;
}

h1{
    color:#c328e2
}

h2 {
    color: #1e8bdf;
}

h3.barbacoa {
    color:purple;
}

h3 {
    color: orange;
}

p{
    color: green
}

img {
    width: 250px;
}

ul li a {
    color: green;
}

